
<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container2">
        <div class="padding30">
          
          <h2 class="page-title">List yourself</h2>  
          
          <%= form_for @hosting do |f| %>
          
            <%= f.label :profile_image %>
            <%= f.file_field :image %> 
            <%= f.label :name %>
            <%= f.text_field :name %>
            
            <div class="field">
            <b>Your contact information will be visible to others. </b>
            </div>
            <%= f.label :email %>
            <%= f.text_field :email, placeholder: "Email" %> <br/>
            <%= f.label :Alternative_contact %>
            <%= f.text_field :phone, placeholder:"Whatsapp, facebook Optional" %> <br/>
            <%= f.label :about_me %> 
            <%= f.text_area :description, size: "50x10" , placeholder: 
"Consider writing things like :

Who you are
What you like
Where you are from
How you can be hospitable

" %></br>   <div class="field">
            A link to your work, portfolio or interests </br> 
            </div>
            <%= f.text_field :socialmedia, placeholder: "Personal site/instagram etc" %>
            </br>
            
            <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id] } %>
            <%= f.label :Country %>
            <%= f.text_field :country,placeholder:"Country" %>
            <%= f.text_field :city , placeholder: "City" %>

            
          <div class="field">
            <b> Only your country and city will be visible to others. </b>
          </div>
            <%= f.label :address %>
            <%= f.text_field :address1, placeholder: " Address line 1" %>
            <%= f.text_field :address2, placeholder: " Address line 2 " %><br/>
            <%= f.text_field :county, placeholder: 'County' %><br>  
            <%= f.text_field :postalcode, placeholder: 'Postalcode' %>   
            <br/>
            <%= f.submit class: "btn span3 btn-realto-form btn-large" %>
          <% end %>

          
        </div>
      </div>
    </div>
    <!-- .span8 -->
    <!--
    <div class="span4 widget">
      <div class="widget map box-container padding30">
        <h3 class="widget-title">Get Directions</h3>
        <iframe src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=miami+beach+collins+ave+1220&amp;aq=&amp;sll=25.861386,-80.120888&amp;sspn=0.205136,0.347786&amp;ie=UTF8&amp;hq=&amp;hnear=1220+Collins+Ave,+Miami+Beach,+Miami-Dade,+Florida+33139,+Stati+Uniti&amp;t=m&amp;z=14&amp;ll=25.783255,-80.131265&amp;output=embed"></iframe>
        <dl class="margin0">
          <dt>Realto</dt>
          <dd class="margin0">1680 Washington Avenue</dd>
          <dd class="margin0">Miami Beach, FL 33139</dd>
        </dl>
      </div>
    </div> -->
    <!-- .span4 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
 
