
    <div class="container page-content">
      <div class="row">
        <div class="span8">
          <div class="box-container">
          
              <%= image_tag @hosting.image_url %>

            </div><!-- .cycle-slideshow -->
            <div id="adv-custom-pager"></div>
            <div class="clearfix">
              <div class="clearfix padding30">
                <h2 class="prop-title pull-left margin0"><%= @hosting.name %>
                  <% if current_user.try(:admin?) %>
                <small><%= link_to "Edit", edit_hosting_path, class: "btn btn-primary btn-mini" %></small>
                <small><%= link_to "Delete", hosting_path, method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-danger btn-mini" %></small>
                <% else %>
                <% end %>
                  
                </h2>
                <span class="prop-price pull-right serif italic">*****</span>
              </div>
              <div class="clearfix padding030 row-fluid">
                <ul class="more-info pull-left span6">
                  <li class="info-label clearfix"><span class="pull-left">Category</span>
                    <span class="qty pull-right"><%= @hosting.category.name %></span></li>
                  <li class="info-label clearfix"><span class="pull-left">Website,facebook and/or twitter.</span>
                    <span class="qty pull-right"></span></li>
                  <li class="info-label clearfix"><span class="pull-left">Phone</span>
                    <span class="qty pull-right"><%= @hosting.phone %></span></li>
                  <li class="info-label clearfix"><span class="pull-left">Email</span>
                    <span class="qty pull-right"><%= @hosting.email %></span></li>
                </ul>
                <ul class="more-info pull-right span6">
                  <li class="info-label clearfix"><span class="pull-left">Address:</span>
                    <span class="qty pull-right">

                      <%= @hosting.address1 %>,
                      <%= @hosting.address2 %>,
                      <%= @hosting.country  %>,
                      <%= @hosting.city     %>,
                      <%= @hosting.county   %>,
                      <%= @hosting.postalcode %>.

                    </span></li>
                  <li class="info-label clearfix"><span class="pull-left">Listing
                    type:</span>
                    <span class="qty pull-right">...</span></li>
                  <li class="info-label clearfix"><span class="pull-left">...</span>
                    <span class="qty pull-right">...</span></li>
                  <li class="info-label clearfix"><span class="pull-left">...</span>
                    <span class="qty pull-right">...</span></li>
                </ul>
              </div>
              <div class="clearfix padding30">
                <h3>About Me</h3>
                <p> <%= @hosting.description %> </p>
              </div>
                 <div class="clearfix padding30">
                  <%= link_to "write a comment", new_hosting_comment_path(@hosting), class: "btn btn-small btn-realto" %>
                <h3>Comments</h3>
                  <% if @comments.blank? %>
                   <p>No comments yet</p>
                  <% else %>
                      <table class='table'>
                        <thead>
                          <tr>
                            <th class="col-mid-3"></th>
                            <th class="col-mid-9"></th>
                          </tr>
                          <tbody> 
                      <% @comments.each do |comment| %>
                  <tr>
                    <td>
                      <h5> <%= "#{comment.user.first_name} #{comment.user.last_name} #{comment.user.country}" %></h5>
                    </td>
                  <td>
                  <%= comment.comment %>
                </td>
                </tr>
                  <% end %>
                 </tbody>
                </table> 
              <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- .span8 -->

            
          <!-- .agent-box -->
          
          <!-- .search-form -->
        </div>
        <!-- .span4 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
    <div class="container">
      <div class="row">
        <div class="span12 box-container">
          <div class="row adv-message clearfix">
            <div class="pull-left span7">
              <p class="upper-line serif italic">Realto xHTML/CSS Template is The
                Best Solution To Sell House Online</p>
              <p class="lower-line">This template is appropriate for Real Estate
                Company, who need to do their business online via websites.</p>
            </div>
            <!-- .pull-left -->
            <a class="pull-right btn btn-large btn-realto span3" href="#" title="Buy It Now">Buy
              It Now!</a>
          </div>
          <!-- .adv-message  -->
        </div>
      </div>
    </div>
     
  