<header>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="span8">
            <span class="logo-text">
              <%= link_to 'Hospitality', root_path, class: "brand" %>
          </span>
          <span class="tag-line hidden-phone">
        </div> 
        
      
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
            
            <%= link_to root_path do %>
              <i class="icon-home"></i>
            <%end%>
            
           </li></i></a></li>
            <li><%= link_to "About", about_us_path %></a>
     
                <% if user_signed_in? %>
             <li> <%= link_to "Edit", edit_user_registration_path %></a>
             <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></a>
            <% else %>
            <li><%= link_to "sign in", new_user_session_path %></a>
            <li><%= link_to "sign up", new_user_registration_path %></a>
            <% end %>
             
          </ul>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
   
  <!-- #logo-container -->

</header>  
<!-- end header -->